Decision Trees

Uma arvore de decisao eh construida dividindo (split) todos os conjuntos de dados a partir de um root node em sub conjuntos de dados em children nodes. Para dividir eh necessario entender quais as features que fornecem a melhor divisao do conjunto. Este processo eh repetido de forma recursiva (recursive partitioning). A recursao chega ao fim, quando o conjunto no node em questao tem os mesmos labels ou quando nao eh adicionado mais nada apos a divisao. O node que possui dados unmixed eh chamado de leaf node. 

Decision Tree types:
* Classification Tree
* Regression Tree

Decision tree algorithms:
* ID3 (Iterative Dichotomiser 3)
* C4.5 (successor of ID3)
* CART (Classification And Regression Tree)
* Chi-square automatic interaction detection (CHAID). Performs multi-level splits when computing classification trees.
* MARS: extends decision trees to handle numerical data better.
* Conditional Inference Trees. Statistics-based approach that uses non-parametric tests as splitting criteria, corrected for multiple testing to avoid overfitting. This approach results in unbiased predictor selection and does not require pruning.

Gini impurity - Qual a probabilidade de um elemento do meu conjunto de dados ser classificado incorretamente, dado que ele foi classificado aleatoriamente de acordo com a distribuicao de labels usada no meu subconjunto.

To compute the gini impurity we sum, over all classes, the probability p_i of an item being chosen times the incorrect probability of that item.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # statistical data visualization
%matplotlib inline

In [3]:
# import data
data_file = './Data/Social_Network_Ads.csv'
df = pd.read_csv(data_file)

In [4]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
df.shape

(400, 5)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [7]:
# checking missing values in the data
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [8]:
# Features and target variable
X = df.drop(columns=['Purchased'])
y = df['Purchased']

In [28]:
data_sample = df.sample(frac=1.0).reset_index(drop=True)[:10]

In [29]:
data_sample.drop(columns='User ID', inplace=True)

In [205]:
dict(data_sample.value_counts())

{('Female', 20, 82000, 0): 1,
 ('Female', 28, 44000, 0): 1,
 ('Female', 33, 69000, 0): 1,
 ('Female', 47, 47000, 0): 1,
 ('Female', 47, 107000, 1): 1,
 ('Male', 32, 18000, 0): 1,
 ('Male', 35, 91000, 1): 1,
 ('Male', 38, 61000, 0): 1,
 ('Male', 48, 141000, 0): 1,
 ('Male', 49, 89000, 1): 1}

In [192]:
test = data_sample.Age.sort_values().reset_index(drop=True)
print(test)
mean_value = 0.0
lis = []
for i in test:
    if i % 2 == 0:
        mean_value += i
    else:
        mean_value += i
        mean_value /= 2
        lis.append(mean_value)
        print(mean_value)
        mean_value = 0.0

print(lis)

0    20
1    28
2    32
3    33
4    35
5    38
6    47
7    47
8    48
9    49
Name: Age, dtype: int64
56.5
17.5
42.5
23.5
48.5
[56.5, 17.5, 42.5, 23.5, 48.5]

In [172]:
class Question(object):
    def __init__(self, feature, value, data):
        self.feature = feature
        self.value = value
        self.data = data
    
    def match(self, row):
        if pd.api.types.is_numeric_dtype(row[self.feature]):
            return row[self.feature] >= self.value
        else:
            return row[self.feature] == self.value
        
    def __repr__(self):
        if pd.api.types.is_numeric_dtype(self.data[self.feature]):
            return f'Is {self.feature} >= {self.value} ?'
        else:
            return f'Is {self.feature} == {self.value} ?'

In [173]:
Question('Age', 19, data_sample)

Is Age >= 19 ?

In [96]:
def partition(data, question):
    true_samples, false_samples = [], []
    for _, row in data.iterrows():
        if question.match(row):
            true_samples.append(row)
        else:
            false_samples.append(row)
    return pd.DataFrame(true_samples), pd.DataFrame(false_samples)

In [97]:
true_samples, false_samples = partition(data_sample, Question('Gender', 'Male'))
false_samples

   Gender  Age  EstimatedSalary  Purchased
0  Female   28            44000          0
1  Female   47            47000          0
3  Female   20            82000          0
5  Female   33            69000          0
6  Female   47           107000          1

In [98]:
pd.DataFrame(false_samples)

   Gender  Age  EstimatedSalary  Purchased
0  Female   28            44000          0
1  Female   47            47000          0
3  Female   20            82000          0
5  Female   33            69000          0
6  Female   47           107000          1

In [106]:
def loss(data_sample):
    labels = dict(data_sample.iloc[:, -1].value_counts())
    gini_impurity = 1
    for label in labels.values():
        prob = label / sum(labels.values())
        gini_impurity -= prob ** 2
    return gini_impurity

In [107]:
loss(pd.DataFrame(true_samples))

0.48

In [193]:
def find_best_split(data):
    min_gini_score = 10000000
    best_question = 0
    for feature in data.columns.values:
        values = data[feature].unique()
        for value in values:
            q = Question(feature, value, data)
            true_samples, false_samples = partition(data, q)
            
            if len(true_samples) == 0 or len(false_samples) == 0:
                continue
            
            p = len(true_samples) / len(data)
            weighted_gini_score = p * loss(true_samples) + (1 - p) * loss(false_samples)
            
            if weighted_gini_score < min_gini_score:
                min_gini_score = weighted_gini_score
                best_question = q
    
    return best_question, min_gini_score

In [194]:
find_best_split(data_sample.drop(columns='Purchased'))[0]

Is Age >= 28 ?

In [207]:
class Leaf(object):
    def __init__(self, data):
        self.predictions = dict(data.iloc[:, -1].value_counts())

In [208]:
class InternalNode(object):
    def __init__(self, question, true_branch, false_branch):
        self.question = question
        self.true_branch = true_branch
        self.false_branch = false_branch

In [209]:
def build_tree(data):
    best_question, min_gini_score = find_best_split(data)
    
    if min_gini_score == 0:
        return Leaf(data)
    
    true_samples, false_samples = partition(data, best_question)
    
    true_branch = build_tree(true_samples)
    false_branch = build_tree(false_samples)
    
    return InternalNode(best_question, true_branch, false_branch)

In [211]:
my_tree = build_tree(data_sample)

In [210]:
def classify(row, node):
    if isinstance(node, Leaf):
        return node.predictions

    if node.question.match(row):
        return classify(row, node.true_branch)
    else:
        return classify(row, node.false_branch)

In [212]:
classify(data_sample[0], my_tree)

KeyError: 0